# * Archivos específicos del juego
*-traducciones.txt
*_puntajes.txt

# ! Archivos de compilación de C#
bin/
obj/


# * Configuraciones de IDE
.vs/
.vscode/
*.code-workspace
test/


# Variables de entorno 
.editorconfig
.env
Conexion.cs